/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Header */
/* General Header Styles */
.custom-header {
    background-color: #eff7fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

/* Logo */
.logo img {
    height: 40px;
}

/* Search Bar */
/* Header Search Section */
.header-search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #eff7fa;
    padding: 10px 20px;
    max-width: 600px;
    margin: 0 auto;
}

.search-input {
    flex: 2;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-width: 300px;
}

.location-dropdown {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.location-dropdown:focus {
    outline: none;
    border-color: #007bff;
}

.search-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #494949;
}



/* Navigation Links */
.nav-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
    padding-bottom: 6px;
}

.nav-links a:hover {
    color: #0073bb;
}

.nav-link.active{
    border-bottom: 2px solid #333;
}


main {
    min-height: 100vh;
}

/* Header Actions */


.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-actions a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.header-actions a span {
    margin-right: 4px;
}

.sign-in-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sign-in-btn:hover {
    background-color: #444;
}



/* Intro Section Styles */
.intro-section {
    padding: 40px 0px;
    width: 100%;
}

.intro-container {
    margin: 0 auto;
    max-width: 1200px;
    margin: auto;
}

.intro-container h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.intro-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}


/* Main content */
.place-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
}

.place-list-heading{
    margin: 20px 0;
    font-size: 30px;
}

.place-item {
    display: flex;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.place-item-link{
    text-decoration: none;
    color: #333;
}
.place-item-link:hover{
    color: #555555;
}
.place-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.place-details {
    padding: 15px;
    flex: 1;
}

.place-details h2 {
    color: #003366;
    margin-bottom: 10px;
}

.place-details p {
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    position: relative;
    bottom: 0;
}



.result-not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
    
}
.no-result-img {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    display: block;
    box-shadow: 0px 4px 8px rgba(88, 88, 88, 0.1);
    border-radius: 10px;

}
.result-not-found-container h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}
.result-not-found-container.hide {
    display: none;
}


